<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ebtesam.educationexchange">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logonocircle"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logonocircle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityAdmin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".addBook.AddTextBook"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".addBook.AddLectureNotes"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".login.LoginPage" />
        <activity android:name=".login.RegisterPage" />
        <activity
            android:name=".profile.ProfilePage"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".profile.EditProfile"
            android:parentActivityName=".profile.ProfilePage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.ProfilePage" />
        </activity>
        <activity
            android:name=".search.SearchBook"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Utils.SignOutActivity" />
        <activity
            android:name=".announcement.AnnouncementActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".addBook.TakePhotoActivity"
            android:parentActivityName=".addBook.AddTextBook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".addBook.AddTextBook" />
        </activity>
        <activity
            android:name=".addBook.TakePhotoActivityLN"
            android:parentActivityName=".addBook.AddLectureNotes">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".addBook.AddLectureNotes" />
        </activity>
        <activity
            android:name=".profile.TakeProfilePhotoActivity"
            android:parentActivityName=".profile.EditProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.EditProfile" />
        </activity>
        <activity android:name=".profile.MyBooksActivity" />
        <activity android:name=".profile.MyAnnouncementsActivity" />
        <activity android:name=".Fragment.CustomListActivity" />
        <activity
            android:name=".Material"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".addBook.AddGeneralBook"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".addBook.TakePhotoGeneralActivity"
            android:parentActivityName=".addBook.AddGeneralBook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".addBook.AddGeneralBook" />
        </activity>
        <activity android:name=".addBook.ViewBook" />
        <activity android:name=".addBook.ViewGeneralBook" />
        <activity android:name=".profile.ViewBookProfile" />
        <activity android:name=".profile.ViewGeneralBookProfile" />
        <activity android:name=".announcement.AnnouncementGeneralActivity" />
        <activity android:name=".profile.ViewMyAnnouncement" />
        <activity android:name=".admin.UserList" />
        <activity
            android:name=".admin.EditUserProfile"
            android:parentActivityName=".admin.UserList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.UserList" />
        </activity>
        <activity android:name=".admin.ReportsActivity"></activity>
        <activity android:name=".admin.ViewBookReport"></activity>
    </application>


</manifest>